<div id="<%= dom_id vat_code %>">
  <p>
    <strong>Guid:</strong>
    <%= vat_code.guid %>
  </p>

  <p>
    <strong>Gl to pay:</strong>
    <%= vat_code.gl_to_pay %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vat_code.description %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= vat_code.code %>
  </p>

  <p>
    <strong>Account code:</strong>
    <%= vat_code.account_code %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= vat_code.account %>
  </p>

</div>
